@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Quicksand);

html, body {
    background: #eee url("../image/desktop/background.png");
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 1px #fff;
    line-height: 16pt;
    color: #5b747a;
}

a, a:visited {
    color: #be4141;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -277px;
    display: block;
    width: 555px;
    text-align: center;
}

#content img {
    margin-bottom: 40px;
}

#content p {
    margin-bottom: 30px;
}

.fb-like{
    position: relative;
    top: -4px;
}